/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#main-con {
    background-color: whitesmoke;
    background-size: cover;
    box-shadow: 5px 5px black;
    border-radius: 5px;
    padding: 25px;
}
#main-con1 {
    background-color: rgba(255,255,255,0.5);
    background-size: cover;
    box-shadow: 5px 5px black;
    border-radius: 5px;
    padding: 5px;
}
table {
    margin: auto;
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
    width: fit-content;
    max-width: 100%;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
}
*[hidden] { 
    display: none; 
}
.errorClass {
    color: red;
    font-weight: bold;
    font-size: 1.0em;
}
